In [1]:
import pandas as pd 
from pandas import Series,DataFrame

In [2]:
x1 = Series([1,2,3,4])
x2 = Series(data=[1,2,3,4],index=['a','b','c','d'])

In [3]:
print(x1)
print(x2)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [4]:
d = {'a':1,'b':2,'c':3,'d':4}
x3 = Series(d)
print(x3)

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
data = {'Chinese':[66,95,93,90,80],'English':[65,85,90,98,87],'Math':[76,90,93,87,85]}
df1 = DataFrame(data)
df2= DataFrame(data,index=['ZhangFei','GuanYu','ZhaoYun','HuangZhong','DianWei'],columns=['English','Chinese','Math'])
print(df1)
print(df2)

   Chinese  English  Math
0       66       65    76
1       95       85    90
2       93       90    93
3       90       98    87
4       80       87    85
            English  Chinese  Math
ZhangFei         65       66    76
GuanYu           85       95    90
ZhaoYun          90       93    93
HuangZhong       98       90    87
DianWei          87       80    85

In [14]:
score = DataFrame(pd.read_excel('data.xlsx'))
score.to_excel('data1.xlsx')
print(score)

  Unnamed: 0  英语  数学  语文
0         张飞  65  30  66
1         关羽  85  98  95
2         赵云  92  96  93
3         韩忠  88  77  90
4         典韦  90  90  80

In [11]:
score.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
score.columns

Index(['Unnamed: 0', '英语', '数学', '语文'], dtype='object')

In [15]:
pd.read_excel('data.xlsx')

  Unnamed: 0  英语  数学  语文
0         张飞  65  30  66
1         关羽  85  98  95
2         赵云  92  96  93
3         韩忠  88  77  90
4         典韦  90  90  80

In [16]:
pd.read_excel('data1.xlsx')

   Unnamed: 0 Unnamed: 0.1  英语  数学  语文
0           0           张飞  65  30  66
1           1           关羽  85  98  95
2           2           赵云  92  96  93
3           3           韩忠  88  77  90
4           4           典韦  90  90  80

In [17]:
score

  Unnamed: 0  英语  数学  语文
0         张飞  65  30  66
1         关羽  85  98  95
2         赵云  92  96  93
3         韩忠  88  77  90
4         典韦  90  90  80

In [18]:
score = DataFrame(pd.read_excel('data.xlsx'))
print(score)

  Unnamed: 0  英语  数学  语文
0         张飞  65  30  66
1         关羽  85  98  95
2         赵云  92  96  93
3         韩忠  88  77  90
4         典韦  90  90  80

In [20]:
print(df2)

            English  Chinese  Math
ZhangFei         65       66    76
GuanYu           85       95    90
ZhaoYun          90       93    93
HuangZhong       98       90    87
DianWei          87       80    85

In [21]:
df2  = df2.drop(columns=['Chinese'])

In [22]:
df2

            English  Math
ZhangFei         65    76
GuanYu           85    90
ZhaoYun          90    93
HuangZhong       98    87
DianWei          87    85

In [23]:
df2  = df2.drop(index=['ZhangFei','DianWei'])
df2

            English  Math
GuanYu           85    90
ZhaoYun          90    93
HuangZhong       98    87

In [24]:
df2.rename(columns={'English':'YingYu','Math':'ShuXue'}, inplace = True)
df2

            YingYu  ShuXue
GuanYu          85      90
ZhaoYun         90      93
HuangZhong      98      87

In [25]:
df

NameError: name 'df' is not defined

In [26]:
df2 = df2.drop_duplicates()

In [27]:
df2

            YingYu  ShuXue
GuanYu          85      90
ZhaoYun         90      93
HuangZhong      98      87

In [29]:
import numpy as np
y
df2

            YingYu  ShuXue
GuanYu          85      90
ZhaoYun         90      93
HuangZhong      98      87

AttributeError: 'DataFrame' object has no attribute 'type'

In [33]:
type(df2['ShuXue']['GuanYu'])

numpy.int64

In [39]:

df2['ShuXue'].astype('str')
df2['YingYu'].astype(np.int64)

type(df2['ShuXue']['GuanYu'])

numpy.int64

In [37]:
type(df2['YingYu']['GuanYu'])

numpy.int64

In [40]:
df2['ShuXue'].astype('U')

GuanYu        90
ZhaoYun       93
HuangZhong    87
Name: ShuXue, dtype: object

In [41]:
df2

            YingYu  ShuXue
GuanYu          85      90
ZhaoYun         90      93
HuangZhong      98      87

In [42]:
type(df2['ShuXue']['GuanYu'])

numpy.int64

In [43]:
df2['ShuXue'].astype(np.unicode_)

GuanYu        90
ZhaoYun       93
HuangZhong    87
Name: ShuXue, dtype: object

In [44]:
type(df2['ShuXue']['GuanYu'])

numpy.int64

In [45]:
df2['ShuXue']['GuanYu'].dtype

dtype('int64')

In [47]:
df2.dtypes

YingYu    int64
ShuXue    int64
dtype: object

In [50]:
df2['ShuXue']= df2['ShuXue'].astype('str')

In [51]:
df2.dtypes

YingYu     int64
ShuXue    object
dtype: object

In [52]:
df2['ShuXue']= df2['ShuXue'].astype('str')

In [53]:
df2

            YingYu ShuXue
GuanYu          85     90
ZhaoYun         90     93
HuangZhong      98     87

In [54]:
print(df2)

            YingYu ShuXue
GuanYu          85     90
ZhaoYun         90     93
HuangZhong      98     87

In [55]:
df2.dtypes

YingYu     int64
ShuXue    object
dtype: object

In [56]:
type(df2['ShuXue']['GuanYu'])

str

AttributeError: 'str' object has no attribute 'dtypes'

In [59]:
df2['ShuXue']= df2['ShuXue'].astype('str')
print(df2.dtypes)
type(df2['ShuXue']['GuanYu'])

YingYu     int64
ShuXue    object
dtype: object

str